<?xml version="1.0" ?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find simple_robot)/urdf/simple.xacro'" />

  <!-- send fake joints values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>

  <!-- combine joints values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- show in RViZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simple_robot)/rviz/simple.rviz" />

</launch>
