<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="m_joint" params="name type origin_rpy origin_xyz parent child axis_xyz">
    <joint name="${name}" type="${type}">
      <axis xyz = "${axis_xyz}"/>
      <origin rpy="${origin_rpy}" xyz="${origin_rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
   </xacro:macro>

  <xacro:macro name="m_link_cylinder" params="name origin_rpy origin_xyz radius length material">
    <link name="${name}">
      <visual>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
        <material name="${material}" />
      </visual>
     </link>
   </xacro:macro>


  <xacro:macro name="m_link_box" params="name origin_rpy origin_xyz size material">
    <link name="${name}">
      <visual>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
         <geometry>
           <box size="${size}"/>
         </geometry>
         <material name="${material}" />
      </visual>
    </link>
  </xacro:macro>

</robot>
 

